@import'base/variables';
@import'components/index';
@import'components/nosotros';
@import'components/tiendas';
@import'components/tiendaHyM.scss';
@media screen and (max-width: 980px){
    .footer{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .direccion{
        width: 100%;
    }
    .contacto{
        width: 100%;
    }
    .suscribite{
        width: 100%;
    }
}
@media screen and (min-width:768px){
    .carouselInicio{
        height: 400px;
    }
    
}
@media  screen and (max-width: 768px){
.tiendaContainer{
    width: 100%;
    height: 700px;
    flex-direction: column;
}
.tiendaContainer__hombre{
    width: 100%;
    height:300px;
}
.tiendaContainer__mujer{
    width: 100%;
    height: 300px;
}
}